@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: gold;
  }

  &.isFavorite {
    color: gold;
  }
  
  &.trash:hover {
    color: $color-warning;
  }
}
